<h1>Members</h1>
<%= link_to 'Edit Profile', edit_user_path(current_user.eth_address) %>
<%= link_to 'Log out', sessions_path, data: { turbo_method: :delete } %>
<div class='users-container'>
  <% @users.each do |user| %>
    <div class='user-block'>
      <h5><%= user.eth_address %></h5>
      <p><%= user.bio %></p>
    </div>
  <% end %>
</div>

