/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  width: 100%;
  height:100vh;
  background-image: linear-gradient(#f2ced4, #a2b4f8);
}

.button {
  border-radius: 100px;
}

button.button-primary {
  background-color: #6366f1;
  border-color: #6366f1;
}

img {
  width: 100%;
}


/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}

.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero .row {
  display: flex;
  align-items: center;
}

.users-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.user-block {
  color: white;
  border-radius: 10px;
  margin-top: 20px;
  background: #8091d3;
  padding: 20px;
}

.user-block h4 {
  overflow-wrap: break-word;
}

 *= require_tree .
 *= require_self
 */
